<h5 class="text-uppercase pull-center">Paiement</h5>
<div class="form-group">
  <label>Montant</label>
  <input
    type="number"
    id="payment_amount"
    name="payment_amount"
    id="amount"
    step="0.01"
    max="{{remaining_amount}}"
    min="0"
    pattern="[-+]?[0-9]*\.?[0-9]*"
    title="Please Enter a Float Number"
    class="form-control input-lg"
    placeholder="Entrer Le Montant à Payer"
    oninput="myFunction3()"
  />
</div>
<div class="form-group">
  <label>Mode de Paiement</label>
  <select
    type="text"
    class="form-control"
    id="payment_mode"
    name="payment_mode"
    required
    oninput="myFunction2()"
  >
    <option>Cash</option>
    <option>Chèque</option>
    <option>Carte Bancaire</option>
  </select>
</div>
<div class="form-group" id="nb_bank_check" style="display: none">
  <label>Numéro Du Chèque</label>
  <input
    type="nb_bank_check"
    name="nb_bank_check"
    class="form-control"
    placeholder="Entrer La réference Du Chèque Bancaire"
    oninput="myFunction2()"
  />
</div>
<div class="form-group" id="transaction_number" style="display: none">
  <label>Numéro Du Transaction</label>
  <input
    type="transaction_number"
    name="transaction_number"
    class="form-control"
    placeholder="Entrer La réference Du Transaction Bancaire"
  />
</div>
<div class="form-group" id="card_number" style="display: none">
  <label>Numéro De La Carte Bancaire</label>
  <input
    type="card_number"
    name="card_number"
    class="form-control"
    placeholder="Entrer Le Numéro De La Carte Bancaire"
  />
</div>
<div class="form-group" id="payor_last_name">
  <label>Nom Payeur</label>
  <input
    type="payor_last_name"
    name="payor_last_name"
    class="form-control"
    placeholder="Entrer Nom Du Payeur "
  />
</div>
<div class="form-group" id="payor_name">
  <label>Prénom Payeur</label>
  <input
    type="payor_name"
    name="payor_name"
    class="form-control"
    placeholder="Entrer Prénom Du Payeur "
  />
</div>
