<div class="form-group">
  <label>Référence client</label>
  <input
    type="text"
    name="client_reference"
    class="form-control"
    placeholder="Entrer La référence contract"
  />
</div>
<div class="form-group">
  <label>Prénom</label>
  <input
    type="text"
    name="first_name"
    class="form-control"
    placeholder="Enter Le Prénom"
  />
</div>
<div class="form-group">
  <label>Nom</label>
  <input
    type="text"
    name="last_name"
    class="form-control"
    placeholder="Entrer Le Nom"
  />
</div>
<div class="form-group">
  <label>Email</label>
  <input
    type="email"
    name="email"
    class="form-control"
    placeholder="Entrer L'addresse Email"
  />
</div>
<div class="form-group">
  <label>Tel</label>
  <input
    type="text"
    name="tel"
    class="form-control"
    placeholder="Entrer Le Numéro Du TEL"
  />
</div>
