{% extends 'base_page.html' %} {% block body %}

<div class="container-fluid">
  <div class="container">
    <h2 class="text-center" id="title">Soucription Utilisateur</h2>
    <p class="text-center"></p>
    <hr />
    <div class="row">
      <div class="col">
        <!-------null------>
      </div>

      <div class="col-md-5" id="wrapper">
        <form
          id="myform"
          role="form"
          method="post"
          action="{{ url_for('user.subscribe_users')}}"
          oninput='confirmation.setCustomValidity(confirmation.value!=password.value ? "password does not match.":"")'
        >
          <fieldset>
            <p class="text-uppercase pull-center">S'inscrire</p>
            <div class="form-group">
              <label class="required">Name</label>
              <input
                type="text"
                name="name"
                id="name"
                pattern="^[a-zA-Z]+\s?[a-zA-Z]+$"
                title="Le Prénom Ne Peut Inclure Que Des Lettres"
                class="form-control input-lg"
                required
                placeholder="Prénom"
                maxlength="50"
              />
              <style>
                .required:after {
                  content: " *";
                  color: red;
                }
              </style>
            </div>
            <div class="form-group">
              <label class="required">Last name</label>
              <input
                type="text"
                name="last_name"
                id="last_name"
                pattern="^[a-zA-Z]+\s?[a-zA-Z]+$"
                title="Le Nom Ne Peut Inclure Que Des Lettres"
                class="form-control input-lg"
                required
                placeholder="Nom"
                maxlength="50"
              />
              <style>
                .required:after {
                  content: " *";
                  color: red;
                }
              </style>
            </div>

            <div class="form-group">
              <label class="required">Email</label>
              <input
                type="email"
                name="email"
                id="email"
                class="form-control input-lg"
                required
                placeholder="Email Address"
                maxlength="100"
              />
              <style>
                .required:after {
                  content: " *";
                  color: red;
                }
              </style>
            </div>

            <div class="form-group">
              <label class="required">Tel</label>

              <input
                type="tel"
                name="phone"
                id="phone"
                class="form-control"
                required
              />
              <span id="valid-msg" class="d-none">✓ Valid</span>
              <span id="error-msg" class="d-none"></span>
            </div>
            <div class="form-group">
              <label>Type Utilisateur </label>
              <select class="form-control" name="user_type">
                <option>Manager</option>
                <option>Conseiller client</option>
              </select>
            </div>

            <div class="form-group">
              <label class="required">Username</label>
              <input
                type="text"
                maxlength="50"
                name="user_name"
                id="user_name"
                class="form-control input-lg"
                required
                placeholder="Nom d'Utilisateur"
                maxlength="50"
              />
              <style>
                .required:after {
                  content: " *";
                  color: red;
                }
              </style>
            </div>
            <div class="form-group">
              <label class="required">Password</label>
              <input
                type="password"
                name="password"
                id="password"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                title="Doit contenir au moins un chiffre et une lettre majuscule et minuscule, et au moins 8 caractères ou plus"
                class="form-control input-lg"
                required
                placeholder="Mot De Passe"
              />
              <style>
                .required:after {
                  content: " *";
                  color: red;
                }
              </style>
            </div>
            <div class="form-group">
              <label class="required">Confirmation Password</label>
              <input
                type="password"
                name="confirmation"
                id="password2 "
                class="form-control input-lg"
                required
                placeholder="Confirmation"
              />
              <style>
                .required:after {
                  content: " *";
                  color: red;
                }
              </style>
            </div>
          </fieldset>

          <div>
            <button type="submit" name="submit" id="btn" value="Valider">
              Valider
            </button>
          </div>
        </form>
      </div>
      <div class="col">
        <!-------null------>
      </div>
    </div>
  </div>
</div>
<script src="{{ url_for('static',filename='js/intlTelInput.js')}}"></script>
<script>
  var input = document.querySelector("#phone");

  var iti = intlTelInput(input);
  var countryData = iti.getSelectedCountryData();

  // window.intlTelInput(input, {
  //   // allowDropdown: false,
  //   autoHideDialCode: false,
  //   // autoPlaceholder: "off",
  //   // dropdownContainer: document.body,
  //   //excludeCountries: ["us"],
  //   // formatOnDisplay: false,
  //   geoIpLookup: function (callback) {
  //     $.get("http://ipinfo.io", function () {}, "jsonp").always(function (
  //       resp
  //     ) {
  //       var countryCode = resp && resp.country ? resp.country : "";
  //       callback(countryCode);
  //     });
  //   },
  //   hiddenInput: "full_number",
  //   initialCountry: "tn",
  //   // localizedCountries: { 'de': 'Deutschland' },
  //   // nationalMode: false,
  //   // onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
  //   // placeholderNumberType: "MOBILE",
  //   // preferredCountries: ['cn', 'jp'],
  //   separateDialCode: true,
  //   utilsScript: "{{ url_for('static',filename='js/utils.js')}}",
  // });
  var input = document.querySelector("#phone"),
    errorMsg = document.querySelector("#error-msg"),
    validMsg = document.querySelector("#valid-msg");

  // here, the index maps to the error code returned from getValidationError - see readme
  var errorMap = [
    "Invalid number",
    "Invalid country code",
    "Too short",
    "Too long",
    "Invalid number",
  ];

  // initialise plugin
  var iti = window.intlTelInput(input, {
    geoIpLookup: function (callback) {
      $.get("http://ipinfo.io", function () {}, "jsonp").always(function (
        resp
      ) {
        var countryCode = resp && resp.country ? resp.country : "";
        callback(countryCode);
      });
    },
    initialCountry: "tn",
    hiddenInput: "full_number",
    utilsScript: "{{ url_for('static',filename='js/utils.js')}}",
  });

  var reset = function () {
    input.classList.remove("error");
    errorMsg.innerHTML = "";
    errorMsg.classList.add("d-none");
    validMsg.classList.add("d-none");
  };

  // on blur: validate
  input.addEventListener("keyup", function () {
    reset();
    if (input.value.trim()) {
      if (iti.isValidNumber()) {
        validMsg.classList.remove("d-none");
      } else {
        input.classList.add("error");
        var errorCode = iti.getValidationError();
        errorMsg.innerHTML = errorMap[errorCode];
        errorMsg.classList.remove("d-none");
      }
    }
  });
  input.addEventListener("countrychange", function () {
    reset();
    if (input.value.trim()) {
      if (iti.isValidNumber()) {
        validMsg.classList.remove("d-none");
      } else {
        input.classList.add("error");
        var errorCode = iti.getValidationError();
        errorMsg.innerHTML = errorMap[errorCode];
        errorMsg.classList.remove("d-none");
      }
    }
  });
  var frm = document.getElementById("myform");
  frm.addEventListener("submit", function (e) {
    reset();
    if (input.value.trim()) {
      if (iti.isValidNumber()) {
        validMsg.classList.remove("d-none");
      } else {
        input.classList.add("error");
        var errorCode = iti.getValidationError();
        errorMsg.innerHTML = errorMap[errorCode];
        errorMsg.classList.remove("d-none");

        e.preventDefault();
        errorMsg.classList.add("alert");
        errorMsg.classList.add("alert-danger");
      }
    }
  });

  // on keyup / change flag: reset
  input.addEventListener("change", reset);
  //input.addEventListener("keyup", reset);

  // input.addEventListener("countrychange", function () {
  //   // do something with iti.getSelectedCountryData()
  //   var countryData = iti.getSelectedCountryData();

  //   code = countryData.dialCode;
  //   input.value = code;
  // });
  function validateForm() {
    var input = document.querySelector("#phone");
    var x = "";
    if (x == "") {
      input.addClass("wrong");
      alert("Name must be filled out");

      return false;
    }
  }
</script>

{% endblock %}
